# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

Data Science Tools

RStudio

Jupyter Notebooks

Apache Zeppelin

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#This a simple arithmetic expression to mutiply then add integers
result =(3*4)+5
result

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60

# Display the result
hours

3.3333333333333335

**Objectives:**
- List popular languages for Data Science.
    - Python
    - R
    - SQL
    - Java
    - Julia

## Author
Zin